<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Acerca de la Rent-IRTD</h2>
  <p>
    En Rent-IRTD tu podras rentar espacios de trabajo en tu ciudad y como usuario podras
    agendar citas con las personas que prestan servicios.
  </p>
  {{#link-to 'contact' class="button"}}
    Get Started!
  {{/link-to}}
</div>


{{outlet}}
