<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contactanos</h2>
  <p>Rent-IRTD estamos encantados en ayudarte.</p>
  <p>
    Rent-IRTD
    <address>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </address>
    <a href="tel:9932614016">993-261-4016</a><br>
    <a href="mailto:albertorojasm95@gmail.com">albertorojasm95@gmail.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    About
  {{/link-to}}
</div>
{{outlet}}
